# editor stuff
**/.vscode
**/.idea
**/*.iml

# build info
/build
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
**/*.cmake
**/*.so
**/.a
**/dist/
**/build/

# python virtual enviroment
/venv
**/__pycache__/
**/*.egg-info/

# test file
rawUdpMessage10.bytes